<!DOCTYPE html>
<html>
<head>
  <title>Dealerships of Portlandia</title>
  <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</html>
